body {
  background-color: #023047;
  color: white;
  font-family: "Play", sans-serif;
  margin: 0;
}

.footer-container{
margin-bottom: -5em;
}

.container {
  width: 80%;
  align-items: center;
  margin-left: 16em;
  margin-top: 10em;
}

.form-container {
  background-color: #f7982d;
  padding: 30px;
  border-radius: 1px;
  margin-top: 30px;
  box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.5);
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

.form-group select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

.form-group textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  resize: none;
  height: 100px;
}

.total {
  margin-left: 775px;
  font-size: 20px;
  font-weight: bold;
}

.proz {
  margin-left: 10px;
}

.submit-button {
  background-color: #023047;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 870px;
}

.make-priority {
  background-color: white;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

.make-priority i {
  margin-right: 5px;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.logo-container img {
  width: 100px;
}

.card {
  border-radius: 10px;
  margin-left: 10px;
  width: 420px;
  height: 130px;
  background-color: #ffffff;
  padding: 0px 10px 2px;
}

.drop_box {
  padding: 0px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: column;
}

.drop_box h4 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 200;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #023047;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
  border-radius: 5px;
}

.btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}

.downpayment {
  color: #043ab9; /* Red color */
  font-weight: bold;
}


.due-date {
  color: #b90202; /* Blue color */
  font-weight: bold;
}

/* flx */
/* Desktop layout */
@media (min-width: 1200px) {
  .form-container {
      width: 80%;
  }
  .form-group {
      flex-wrap: wrap;
  }
  .form-group input, .form-group select, .form-group textarea {
      width: 45%;
      margin: 10px;
  }
  .upload-file {
      width: 45%;
      margin: 10px;
  }
}

/* Tablet layout */
@media (min-width: 768px) and (max-width: 1199px) {
  .form-container {
      width: 90%;
  }
  .form-group {
      flex-wrap: wrap;
  }
  .form-group input, .form-group select, .form-group textarea {
      width: 90%;
      margin: 10px;
  }
  .upload-file {
      width: 90%;
      margin: 10px;
  }
}

/* Mobile layout */
@media (max-width: 767px) {
  .form-container {
      width: 100%;
  }
  .form-group {
      flex-direction: column;
  }
  .form-group input, .form-group select, .form-group textarea {
      width: 100%;
      margin: 10px;
  }
  .upload-file {
      width: 100%;
      margin: 10px;
  }
}
